/*
.supercal {
    width: 300px;
}

.supercal .supercal-header {
    display: block;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.supercal .supercal-header .prev-month {
    float: left;
}

.supercal .supercal-header .next-month {
    float: right;
}

.supercal-month {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.supercal table {
    width: 300px;
    table-layout: fixed;
    background: #fff;
}

.supercal td {
    cursor: pointer;
}

.supercal td:hover {
    background: #2f96b4 !important;
    color: #fff;
}

.supercal td.month-prev, .supercal td.month-next {
    background: #eee;
}

.supercal td.selected {
    background: #0088cc;
    color: #fff;
    font-weight: normal;
}

.supercal td.today {
    font-weight: bold;
}
*/
/* Footer 
.supercal .supercal-footer {
    width: 100%;
    display: table;
}

.supercal .supercal-footer span.supercal-input {
    display: table-cell;
    width: 100%;
    cursor: default;
}
*/
.supercal {
    width: 280px;
    float:right;
    margin:10px 0;
}

.month div{
	 background: url('/themes/business/gfx/month.png') repeat-x;
	 height: 35px;
	 width: 200px;
    text-align: center;
    margin: 0 40px;
    border-left: 1px solid #4BA0BE;
    border-right: 1px solid #4BA0BE;
    vertical-align: middle;
    padding: 3px;
        color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.supercal .supercal-header {
    display: block;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.supercal .supercal-header .prev-month {
    float: left;
    width: 40px;
    height: 35px;
    border-right: 1px solid #62B2D2;
}

.supercal .supercal-header .prev-month img {
	-moz-transform: rotate(-180deg); /* Для Firefox */
    -ms-transform: rotate(-180deg); /* Для IE */
    -webkit-transform: rotate(-180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-180deg); /* Для Opera */
    transform: rotate(-180deg);
    width: 15px;
    height: 25px;
    /*margin: 2px 15px 2px 10px;*/
    margin-top:-6px;
}

.supercal .supercal-header .next-month img {

    width: 15px;
    height: 25px;
/*    margin: 6px 10px 2px 15px;*/
}

.supercal .supercal-header .next-month {
    float: right;
    width: 40px;
    height: 35px;
    border-left: 1px solid #62B2D2;
}
.supercal-month {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.supercal table {
    width: 280px;
    table-layout: fixed;
    background: #f1f1f1;
}

.supercal table tr:first-child {
	width: 280px;
    height: 30px;
    background: url('/themes/business/gfx/week.png') repeat-x;
    color: #fff;
}

.supercal td {
    cursor: pointer;
    line-height:40px;
    width:40px;
    height:40px;
    color: #707070;
	font-weight: bold;
	font-size:16px;
	text-align:center;
	border-top: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	line-height:30px !important;
}

.supercal td:hover {
    background: #2f96b4 !important;
    color: #fff;
}

.supercal td.month-prev, .supercal td.month-next {
    background: #eee;
}

.supercal td.selected {
    color: #fff;
    font-weight: bold;
    background: url('/themes/business/gfx/active.png') !important;
}

.supercal td.today {
    font-weight: bold;
}

/* Footer */
.supercal .supercal-footer {
    width: 100%;
    display: table;
}

.supercal .supercal-footer span.supercal-input {
    display: table-cell;
    width: 100%;
    cursor: default;
}


button.next-month.change-month.btn, button.prev-month.change-month.btn
{
	background: url('/themes/business/gfx/month.png') repeat-x !important;
	border:none !important;
	border-radius: 0 !important;
}

.supercal table th
{
	font-weight:normal;
	text-align:center;
	border-top:none !important;
}

.supercal .month-prev, .supercal .month-next
{
	color:#D7D7D7;
}