html, body {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    padding: 0;
}

body.printPage {
    text-align: left
}

body.printPage h1 {
    margin: 15px
}

#yii-debug-toolbar-swither {
    top: 50px
}

#yii-debug-toolbar-swither .close {
    opacity: 1
}

/****************************************/

body a, body a:hover {
    color: #42A3CA;
}

h1, h2, h3, h4 {
    color: #0C4970;
    margin: 0;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

#wrap {
    width: 100%;
    clear: both;
    background: url('/themes/business/gfx/bg.png');
}

#container {
    width: 1020px;
    background: #fff;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    clear: both;
    margin: 0;
}

.b-top-panel {
    background: #255B7E;
    width: 100%;
    height: 35px;
    position: relative;
}

.b-top-panel__mail {
    position: absolute;
    top: 5px;
    left: 15px;
}

.b-top-panel__mail a {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    margin-right: 6px;
}

.b-top-panel__mail i {
    width: 22px;
    height: 14px;
    background-image: url('/themes/business/gfx/mail.png');
    background-size: cover;
}

.b-top-panel__phone {
    position: absolute;
    top: 5px;
    right: 430px;
    color: #fff;
    font-size: 14px;
}

.b-top-panel__phone a {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}

.b-top-panel__phone i {
    width: 22px;
    height: 22px;
    background-image: url('/themes/business/gfx/phone.png');
    background-size: cover;
}

.b-top-panel__user {
    color: #fff;
    position: absolute;
    right: 237px;
    top: 5px;
}

.b-header {
    width: 100%;
    height: 400px;
    margin: 0;
    background: url('/themes/business/gfx/reading-together.jpg') no-repeat;
    background-position: bottom right;
    position: relative;
}

.b-header-logo {
    width: 100%;
    height: 80px;
    background: url('/themes/business/gfx/header-logo.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 999;
}

.b-header-logo .age-limit {
    position: absolute;
    top: -26px;
    left: 602px;
    height: 113px;
}

.b-header-arrow-left {
    position: absolute;
    left: 0;
    top: 183px;
}

.b-header-arrow-right {
    position: absolute;
    right: 0;
    top: 183px;
    -moz-transform: rotate(-180deg); /* Для Firefox */
    -ms-transform: rotate(-180deg); /* Для IE */
    -webkit-transform: rotate(-180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-180deg); /* Для Opera */
    transform: rotate(-180deg);
}

.b-header-arrow-right img {
}

.b-search-widget {
    width: 200px;
    color: #0C4970;
    float: right;
    margin: 4px 15px 4px 0;
    background: #fff;
    height: 27px;
    border: 1px solid #77BBEF;
}

.b-search-widget form {
    width: 198px;
    height: 25px;
    margin: 1px 1 1px 1px;
    line-height: 25px;
}

.b-search-widget input[type="text"] {
    border: none;
    width: 167px;
    height: 25px;
    outline: none;
}

.b-search-widget input::-webkit-input-placeholder {
    color: #0C4970;
}

.b-search-widget input:-moz-placeholder {
    color: #0C4970;
}

.b-search-widget input[type="submit"] {
    width: 18px;
    height: 18px;
    display: block;
    float: right;
    background: url('/themes/business/gfx/search.png');
    background-size: cover;
    border: none;
    margin: 4px;
}

.b-content {
    /*width: 100%;*/
    /* min-height: 800px;*/
    margin: 20px 0 30px;
}

.b-page {
    width: 100%;
    display: table;
}

.b-page-left {
    float: left;
    margin: 0;
    position: relative;
    width: 220px;
}

.b-menu {
    width: 100%;
    background: #255B7E;
}

.b-photogallery-widget {
    width: 220px;
    /*height: 230px;*/
    -webkit-box-shadow: 1px 1px 5px 0px rgba(165, 165, 165, 0.55);
    -moz-box-shadow: 1px 1px 5px 0px rgba(165, 165, 165, 0.55);
    box-shadow: 1px 1px 5px 0px rgba(165, 165, 165, 0.55);
    margin: 20px 0 0;
    text-align: center;
    padding-top: 5px;
}

.b-photogallery-widget img {
    width: 100%;
    margin: 10px 0 10px;
}

.b-photogallery-widget-nav {
    width: 80px;
    height: 23px;
    margin: 20px auto 10px;
}

.b-photogallery-widget-nav a {
    margin: 0;
}

.b-photogallery-widget-nav img {
    width: 23px;
    height: 23px;
    margin: 0;
}

.b-photogallery-widget-nav__left-arrow {
    -moz-transform: rotate(-180deg); /* Для Firefox */
    -ms-transform: rotate(-180deg); /* Для IE */
    -webkit-transform: rotate(-180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-180deg); /* Для Opera */
    transform: rotate(-180deg);
}

.b-page-main-news {
    margin: 0 0px 15px 0px;
    padding-right: 0;
}

.b-page-main-news-item {
    margin: 10px 0;
    display: table;
}

.b-page-main-news-item__date {
    font-size: 13px;
    color: #255B7E;
}

.b-page-main-news-item__name a {
    font-size: 18px;
    color: #42A3CA;
}

.b-page-main-news-item__text {
    margin: 15px 0 0 0;
}

.b-page-main-news-item__text p {
    font-size: 14px;
    color: #255B7E;
    text-align: justify;
}

.b-page-main-news-item__text img {
    float: left;
    margin: 0 7px 7px 0;
    width: 150px;
    height: 100px;
}

.b-page-right {
    /*float: right;
    margin: 0;
    position: relative;
    width: 280px;*/
    padding-right: 0;
    padding-left: 0px;
}

.b-page-right h1 {
    width: 280px;
    float: right;
    text-align: left;
}

.b-calendar {
    width: 280px;
    min-height: 200px;
    margin: 10px 0;
    display: table;
    float: right;
}

.b-calendar-month {
    background: url('/themes/business/gfx/month.png') repeat-x;
    width: 280px;
    height: 35px;
}

.b-calendar-month__left-arrow {
    width: 40px;
    height: 35px;
    border-right: 1px solid #62B2D2;
    float: left;
}

.b-calendar-month__left-arrow img {

    -moz-transform: rotate(-180deg); /* Для Firefox */
    -ms-transform: rotate(-180deg); /* Для IE */
    -webkit-transform: rotate(-180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-180deg); /* Для Opera */
    transform: rotate(-180deg);
    width: 15px;
    height: 25px;
    margin: 2px 15px 2px 10px;
}

.b-calendar-month__name {
    width: 200px;
    text-align: center;
    margin: 0 40px;
    border-left: 1px solid #4BA0BE;
    border-right: 1px solid #4BA0BE;
    vertical-align: middle;
    padding: 3px;
}

.b-calendar-month__name span {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.b-calendar-month__right-arrow {
    width: 40px;
    height: 35px;
    border-left: 1px solid #62B2D2;
    float: right;
}

.b-calendar-month__right-arrow img {
    width: 15px;
    height: 25px;
    margin: 6px 10px 2px 15px;
}

.b-calendar-week {
    width: 280px;
    height: 30px;
    background: url('/themes/business/gfx/week.png') repeat-x;
    color: #fff;
}

.b-calendar-week span {
    line-height: 27px;
    padding: 10px;
}

.b-calendar-day-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.b-calendar-day-list li {
    display: block;
    line-height: 40px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    float: left;
    border-top: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    background: #F1F1F1;
    text-align: center;
}

.b-calendar-day-list li:nth-child(7n) {
    border-right: none;
}

.b-calendar-day-list li a {
    color: #707070;
    font-weight: bold;
}

.b-calendar-day-list__active {
    background: url('/themes/business/gfx/active.png') !important;
    background-size: cover;
}

.b-calendar-day-list__active a {
    color: #fff !important;
}

.b-calendar-day-list__nonactive b {
    color: #D7D7D7;
}

.b-children-news {
    margin: 40px 0 10px;
    display: table;
    max-width: 280px;
    float: right;
}

.b-children-news h1 {
    margin-bottom: 20px;
}

.b-children-news-item {
    margin: 10px 0;
    display: table;
}

.b-children-news-item__date {
    font-size: 13px;
    color: #255B7E;
}

.b-children-news-item__name {
    margin-top: 5px;
}

.b-children-news-item__name a {
    font-size: 18px;
    color: #42A3CA;
    line-height: 18px;
}

.b-children-news-item__text {
    margin: 5px 0 0 0;
}

.b-children-news-item__text p {
    font-size: 14px;
    color: #255B7E;
    text-align: left;
}

.b-bottom-content {
    clear: both;
    display: table;
    width: 100%;
}

.b-bottom-content-banners {
    list-style: none;
    margin: 0;
    display: table;
    padding: 0;
    text-align: center;
}

.b-bottom-content-banners li {
    float: left;
    width: 220px;
    height: 200px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(165, 165, 165, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(165, 165, 165, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(165, 165, 165, 0.75);
    margin: 0 20px 20px 16px;
}

.b-bottom-content-banners li:first-child, .b-bottom-content-banners li:nth-child(5n) {
    margin-left: 0;
}

.b-bottom-content-banners li:nth-child(4n) {
    margin-right: 0;
}

.b-bottom-content-banners li img {
    width: 200px;
    height: 150px;
    margin: 10px;
}

.b-bottom-content-banners li a {
    font-size: 16px;
    text-decoration: underline;
}

.b-footer {
    width: 100%;
    height: 100px;
    background: #4BABD1;
    color: #fff;
    display: table;
}

.b-footer-copy {
    width: 350px;
    quotes: "\00ab" "\00bb"; /* Кавычки в виде двойных угловых скобок */
    margin: 20px 0 25px 0;
    position: relative;
    display: table;
    float: left;
}

.b-footer-copy p {
    font-size: 16px;
    float: left;
}

.b-footer-copy .logo-image {
    width: 50;
    height: 55;
    margin-right: 20px;
    float: left;
}

.b-footer-address {
    width: 450px;
    margin: 20px 100px 0 400px;
    position: relative;
}

.cvek-logo {
    position: relative;
    cursor: pointer;
    float: right;
    margin: -60px 20px 0 0;
    height: 25px;
    width: 82px;
    background: url('/themes/business/gfx/cvek_logo.png') no-repeat;
}

.cvek-logo:hover {
    background-position: 0 -26px;
}

.b-feedback-form-link {
    background: url('/themes/business/gfx/feedback-bg.png') no-repeat;
    background-size: cover;
    width: 250px;
    height: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    right: -100px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0;
    padding: 10px;
}

.b-feedback-form-link a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.b-extend-book-link {
    background: url('/themes/business/gfx/feedback-bg.png') no-repeat;
    background-size: cover;
    width: 250px;
    height: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: -100px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0;
    padding: 10px;
}

.b-extend-book-link a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.left-menu > .item {
    background: #255B7E;
}

.left-menu > .item > a {
    color: #fff;
    background: #255B7E;
}

.left-menu > .item > a:hover {
    background: #255B7E;
    color: #fff;
}

.left-menu > .item:hover > a:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: rgb(255, 255, 255);
    border-width: 10px;
    transform: rotate(-90deg);
    top: 10px;
    left: 0;
}

.b-menu-side-list {
    width: 220px !important;
}

.b-menu-side-list li a {
    color: #fff;
}

.sub-item-list, .sub-item-list li, .sub-item-list li a, .sub-item-list li:hover, .sub-item-list li a:hover {
    background: #42A3CA;
    color: #fff;
}

.b-left-sidebar {
    padding-left: 0;
}

.page-header {
    margin-top: 0;
}

.b-books .pages, .b-news-list .pages {
    text-align: center;
}

.b-books .pages ul, .b-news-list .pages ul {
    list-style: none;
}

.b-books .pages li, .b-news-list .pages li {
    display: inline;
}

.b-books .pages li a, .b-news-list .pages li a {
    background: #42A3CA;
    color: #fff;
    border: 1px solid #42A3CA;
    border-radius: 5px;
    padding: 5px;
}

.b-books .pages li.active a, .b-news-list .pages li.selected a {

    background: #0C4970;
    color: #fff;
    border: 1px solid #0C4970;
    border-radius: 5px;
    padding: 5px;
    cursor: default;
}

.b-books .pages li.disabled a, .b-news-list .pages li.disabled a {
    text-decoration: none;
    background: #fff;
    color: #42A3CA;
    cursor: default;
}

.b-books .item {
    margin: 10px 0;
}

.bx-wrapper .caption {
    font-size: 12px;
    color: #0C4970;
    height: 80px;
}

.bx-wrapper li {
    text-overflow: ellipsis;
}

.bx-wrapper {
    line-height: 14px !important;
    text-overflow: ellipsis;
}

.bx-wrapper li a img {
    width: 100px;
    height: 150px;
}

.book-item, .book-item .pic {
    padding-left: 0px;
}

.carousel-control.right, .carousel-control.left {
    background: transparent;
}

.carousel-inner > .item > img {
    height: 400px;
    width: 990px;
}

.b-debriefing.js_debriefing {
    width: 220px;
    max-width: 220px;
    margin: 30px 0;
    overflow: hidden;
}

.question {
    color: #255B7E;
}

.questions {
    margin: 10px 0;
}

.questions label {
    font-weight: normal;
}

.questions li {
    margin: 5px 0;
}

.questions button {
    color: #0C4970;
}

.questions h4.question-title {
    color: #255B7E;
    margin-bottom: 10px;
}

.responsive-calendar {
    /* margin-bottom: 20px;*/
    width: 280px;
    float: right;
    margin: 10px 0;
}

.responsive-calendar span {
    color: #fff;
}

.responsive-calendar .day {
    display: inline-block;
    position: relative;
    /*    font-size: 14px;
       width: 14.28%;
       text-align: center;
       border-top: 1px solid #2F8EB8;
       border-right: 1px solid #2F8EB8;
       height: 30px;
       padding: 5px 0px;
       color: #fff;
       background-color: #3B9FC4;*/
    cursor: pointer;
    line-height: 40px;
    width: 40px;
    height: 40px;
    color: #707070;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    line-height: 30px;
}

.responsive-calendar .day:hover {
    background: #2f96b4 !important;
    color: #fff;
}

.responsive-calendar .day.active {
    cursor: pointer;
}

.responsive-calendar .day-headers {
    margin-top: -2px;
    width: 280px;
    height: 30px;
    background: url('/themes/business/gfx/week.png') repeat-x;
    color: #fff;
    display: table-caption;
}

.responsive-calendar .header {
    font-size: 14px;
    color: #fff;
    height: 30px;
    line-height: 1.42857;
    vertical-align: top;
    padding: 5px;
    border: none;
    font-weight: 400;
}

.responsive-calendar .controls {
    /*    background-color: #2C4374;
        color: #fff;
        padding: 4px 0px;*/
    background: url('/themes/business/gfx/month.png') repeat-x;
    height: 35px;
    width: 280px;
    text-align: center;
    /*  margin: 0 40px;*/
    border-left: 1px solid #4BA0BE;
    border-right: 1px solid #4BA0BE;
    vertical-align: middle;
    padding: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    clear: both;
}

.responsive-calendar .controls .btn {
    color: #fff;
}

.responsive-calendar .controls h4 {
    margin: 0;
    padding: 6px 0;
    text-align: center;
}

.responsive-calendar .day a {
    color: #fff;
    text-decoration: none;
    color: #707070;
    line-height: 40px;
}

.responsive-calendar .day .badge {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    padding: 2px 4px;
    font-size: 7px;
    background-color: rgba(44, 67, 116, 0.59);;
}

.responsive-calendar .day.not-current a {
    color: #ddd;
}

.responsive-calendar .today, .responsive-calendar .day:hover {
    color: #fff;
    font-weight: bold;
    background: url('/themes/business/gfx/active.png') !important;
}

.responsive-calendar .day:hover a {
    color: #fff !important;
}

.responsive-calendar .today a {
    color: #fff;
}

.responsive-calendar .days {
    background: #eee;
}
#historicalEvents {
    display: none;
    padding: 5px;
    color: white;
    background-color: #ff7200;
    font-size: 14px;
    font-weight: bold;
    max-height: 100px;
    overflow-y: auto;
}
#historicalEvents.active {
    display: inherit;
}
#historicalEvents.active p:hover {
    text-shadow: 1px 1px 1px black, 0 0 1em black;
    cursor: pointer;
}
#hEventDetail .modal-header .close {
    /*margin-top: -20px;*/
}
#hEventDetail .modal-header {
    border: none;
}
#hEventDetail .modal-header .modal-title {
    font-weight: bold;
}

.yiiPager {
    margin: 0;
    padding: 0;
}

.yiiPager li {
    display: inline-block;
}

.b-news-category .btn {
    margin-bottom: 10px;
    background: #255B7E;
    color: #fff;
}

.b-news-category .btn:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
    background: none;
    color: #000;
}

.b-extend-book-form {
    margin-top: 50px
}

.b-extend-book-form iframe .input_theme_normal .input__box:before {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: black;
}

.b-extend-book-form iframe .input_size_m .input__control {
    height: 34px !important;
    display: block;
    width: 100% !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
}

.b-feedback-form-link, .b-extend-book-link {
    background: none;
    background-color: #255B7E;
}

.b-top-panel__vk {
    position: absolute;
    top: 5px;
    right: 655px;
}
.b-top-panel__vk .vk-widget {
    width: 70px;
    height: 23px;
}
