/*Все стили пишем через .blind-version
* Шрифты через .blind-font-up, .blind-font-down и т.д.
*/
/*Fonts*/

.blind-version h3 a, .blind-version h3 {
    font-size: 24px!important;
}
.blind-font-up h3 a, .blind-font-up h3 {
    font-size: 26px!important;
}
.blind-font-up-1 h3 a, .blind-font-up-1 h3 {
    font-size: 28px!important;
}
.blind-font-down h3 a, .blind-font-down h3 {
    font-size: 22px!important;
}
.blind-font-down-1 h3 a, .blind-font-down-1 h3 {
    font-size: 21px!important;
}

.blind-version h1 a, .blind-version h1 {
    font-size: 135% !important;
}

.blind-version .b-page-main-news-item__name a {
    font-size: 120% !important;
}

.blind-version .b-children-news-item__name a {
    font-size: 120% !important;
}

/*.blind-version .left-menu > .item > a.expanded {
    font-size: 120% !important;
}*/

.blind-version .b-top-widget-container .b-name {
    font-size: 130% !important;
}

.blind-version .b-menu-content-list > .nav > li > a {
    font-size: 120% !important;
}
/*
*/

.blind-version .b-top-panel {
    margin-top: 10px;
    height: 100px;
}

.blind-version .b-top-panel__mail {
    left: 0;
}

.blind-version .b-top-panel__mail i {
    width: 0;
}

.blind-version .b-top-panel__phone {
    right: inherit;
    left: 25%;
}

.blind-version .b-top-panel__phone i {
    width: 0;
}

.blind-version .b-search-widget {
    border: 2px #000 solid;
    margin-right: 5px;
}

.blind-version .b-search-widget form {
    height: 23px;
    width: auto;
}

.blind-version .b-search-widget input[type="text"] {
    height: 20px;
}

.blind-version .b-search-widget input[type="text"]::after {
    content: '&#128269';
    display: block;
}

.blind-version .b-search-widget input[type="submit"] {
    background: url(/themes/business/gfx/search.png) !important;
    background-size: cover !important;
}

.blind-version .b-top-widget-container {
    margin-top: 20px;
}

.blind-version .b-top-widget-container .b-name {
    font-weight: bold;
    display: none;
}

.blind-version.img_none .b-top-widget-container .b-name {
    display: block;
}

.blind-version.img_none .b-top-widget-container .b-vitrine {
    display: none;
}

.blind-version .b-top-widget-container .carousel-caption {
    display: none;
}

.blind-version .b-header-logo .age-limit {
    top: -25px;
    left: 622px;
    height: 104px;
}

.blind-version .sub-item-list {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1020px;
    max-width: 100%;
}

.blind-version .sub-item-list li {
    width: auto;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.blind-version .sub-item-list li a {
    border: 2px solid #000;
}

.blind-version .b-debriefing.js_debriefing {
    width: 230px;
    max-width: 230px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 287px;
}

.blind-version.img_none .b-content {
    margin-top: 50px;
    margin-bottom: 30px;
}

.blind-version .b-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 300px;
}

.blind-version .b-left-sidebar {
    width: 100% !important;
    margin-bottom: 40px;
}

.blind-version .b-menu-side-list {
    width: 100% !important;
}

.blind-version .left-menu > .item {
    width: auto;
    float: left;
}

.blind-version .left-menu > .item > a {
    padding-left: 5px;
}

.blind-version .left-menu > .item > a::before {
    display: none;
}

.blind-version .left-menu > .item > a:hover::before {
    display: none;
}

.blind-version .b-photogallery-widget {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 2px solid black;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0px;
    height: 230px;
}

.blind-version .b-feedback-form-link {
    border: 2px solid #000;
    height: auto;
    left: calc(50% + 289px);
    top: 133px;
    right: inherit;
    transform: rotate(0deg);
    position: absolute;
    width: 201px;
    padding: 7px;
    font-weight: bold;
}

.blind-version .b-extend-book-link {
    border: 2px solid #000;
    height: auto;
    left: calc(50%);
    top: 133px;
    right: inherit;
    transform: rotate(0deg);
    position: absolute;
    width: 201px;
    padding: 7px;
    font-weight: bold;
}

.blind-version .b-page-main-news {
    padding-left: 0;
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #000;
}

.blind-version .b-page-main-news > ul > li {
    line-height: 145%;
}

.blind-version .b-page-main-news p {
    line-height: 145%;
}

.blind-version .b-page-main-news td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.blind-version .b-page-main-news-item {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    padding-top: 15px;
}

.blind-version .b-page-main-news-item__name {
    margin-top: 10px;
}

.blind-version .b-page-main-news-item__text {
    margin-top: 20px;
}

.blind-version .b-page-main-news .btn {
    border-width: 2px;
    margin-left: 82px;
}

.blind-version .b-news-single .text p,
.blind-version .b-news-single .text div {
    line-height: 145%;
}

.blind-version .b-like-buttons {
    margin: 30px 0;
}

.blind-version .b-books .item {
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}

.blind-version.img_none .b-books .book-item {
    display: none;
}

.blind-version .bx-wrapper .bx-viewport {
    border-width: 2px;
    height: auto !important;
}

.blind-version .bx-wrapper li a img {
    margin: 0 auto;
}

.blind-version .bx-wrapper li {
    width: 160px !important;
}

.blind-version .bx-wrapper .bx-pager {
    display: none;
}

.blind-version .image_stack {
    width: 22%;
    height: 340px;
    margin-right: 22px;
    margin-bottom: 42px;
    /*border: 2px solid #000;*/
}

.blind-version.img_none .image_stack {
    height: 180px;
}

.blind-version .image_stack .info {
    word-break: break-word;
    display: block;
}

.blind-version.img_none .image_stack .info {
    margin-top: 0;
    padding: 5px 10px;
}

/*.blind-version.img_none .daGallery .body {
    display: none;
}*/

.blind-version .b-menu-content-list > .nav > li > a {
    /*border: 2px solid #000;*/
}

.blind-version .b-page-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blind-version .calendar-widget {
    display: none;
}

.blind-version .b-children-news {
    width: 100%;
    max-width: none;
}

.blind-version .b-children-news h1 {
    width: 100%;
}

.blind-version .b-children-news-item {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    padding-top: 15px;
}

.blind-version .b-children-news-item__name {
    margin-top: 10px;
}

.blind-version .b-children-news-item__text {
    margin-top: 20px;
}

.blind-version .b-bottom-content-banners {
    margin-bottom: 40px;
}

.blind-version.img_none .b-bottom-content-banners li {
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.blind-version .b-footer .b-footer-address {
    margin-left: 335px;
    margin-right: 0;
}




.blind-version li a, .blind-version a {
    text-decoration: underline;
}

.blind-version a:hover {
    text-decoration: none;
}

.blind-version .cContent table td p {
    padding-left: 10px;
    padding-right: 10px;
}

.blind-version h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.blind-version .b-menu-top form {
    right: 31px;
}

.blind-version .b-menu-top form > div {
    width: 95%;
}

.blind-version .b-menu-top .form-control {
    height: auto;
    min-height: 37px;
}

.blind-version .feedback-widget-captcha__help {
    float: right;
    padding: 10px 34px 15px;
    width: 410px;
}

.blind-version .b-news-list .item {
    margin-bottom: 57px;
}

.blind-version .b-news-list .more {
    text-align: left;
    margin-top: 14px;
    text-decoration: underline;
}

.blind-version .pagination li {
    display: inline;
}

.blind-version .pagination ul {
    padding-left: 0;
}

.blind-version.img_none .cContent > iframe {
    display: none;
}

.blind-version #footer > div {
    margin-right: 0;
    margin-left: 0;
}

@media screen and (max-width: 991px) {
    .blind-version .b-feedback-form-link {
        left: 100%;
    }
}